{% extends 'Index.html' %}

{% block title %}Главная {% endblock %}
{% block heading %} <h2>Главная страница</h2> {% endblock %}

{% block content %}
<div class="row">

    <!-- Блок 1 -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="wp-block inverse no-margin">
            <div class="figure">
                <img src="http://i1.youcomedy.me/d/b/big_1a639c80c453744933e2c08a81e8f9bd.jpeg">
                <div class="wp-block-info-over left">
                    <h2>
              <span class="pull-left">
              <a href="/about.html">Знаете ли вы?</a>
              <span class="label label-primary">История появления кошек</span>
              </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок 2 -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="wp-block inverse no-margin">
            <div class="figure">
                <img src="http://figurkada.ru/images/c/f/persidskie-koshki-foto_8.jpg">
                <div class="wp-block-info-over left">
                    <h2>
              <span class="pull-left">
              <a href="/news.html">Интересные факты</a>
              <span class="label label-primary">Из жизни кошачьих</span>
              </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок 3 -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="wp-block inverse no-margin">
            <div class="figure">
                <img src="http://oboi.cc/400-400-100-uploads/11_05_2013/view/201209/oboik.ru_41053.jpg">
                <div class="wp-block-info-over left">
                    <h2>
              <span class="pull-left">
              <a href="/gallery.html">Галерея</a>
              <span class="label label-primary">Хвостатых</span>
              </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

